<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 

	</head>
	
	<body>

        
      
        <form class="grid" action="/result" method="POST">

          {% if name %}
            <center>
              <h3 style="color: white;" class="let_space">Hello {{name}}, Nice to meet you!</h3>
            </center> 

          {% endif %}
           
          <label for="name">What's you name:</label>
          <input type="text" id="name" name="name">

          <center><input class="file_submit" type="Submit"></center>
          <a href="https://www.youtube.com/channel/UCiqKg8VO_fQYdJSWv5Bt54w"> JoinUS </a>

        </form>
        

    </body>

</html>